export(alphaDiversity)
export(bplot)
export(contrib)
export(matrixConvert)
export(fillTax)
expoort(fillTax2)
export(slimTax)
export(otuReport)
export(pbray)
export(rareBiosphere)
export(subOTU)
export(typeConvert)
importFrom(reshape2, melt)
importFrom(fossil,chao1)
importFrom(fossil,chao2)
importFrom(reldist,gini)
importFrom(grDevices,dev.copy2pdf)
importFrom(graphics,abline)
importFrom(graphics,axis)
importFrom(graphics,barplot)
importFrom(graphics,box)
importFrom(graphics,boxplot)
importFrom(graphics,legend)
importFrom(graphics,locator)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(graphics,text)
importFrom(graphics,title)
importFrom(stats,as.dist)
importFrom(stats,weights)
importFrom(utils,type.convert)
importFrom(utils,write.table)



