export(alphaDiversity, bplot, contrib, matrixConvert, otuReport, otuCollap,
	calc_bc,pbray, fillTax, fillTax2, slimTax, rareBiosphere, subOTU,
	typeConvert)
importFrom("reshape2", "melt")
importFrom("grDevices", "dev.copy2pdf", "rainbow")
importFrom("graphics", "abline", "arrows", "axis", "box", "boxplot", "legend",
           "par", "plot", "points", "text", "title")
importFrom("stats", "as.dist", "dist", "weights")
importFrom("utils", "type.convert", "write.table")
